.component {
  display: flex;
  width: 300px;
  margin-bottom: 20px;
}

.input {
  /* flex-grow to fill the container */
  flex-grow: 1;
  flex-shrink: 1;

  padding: 4px;
  border: solid 2px #8366f6;
  border-radius: 0px;
  border-right-style: none; /* avoid affecting the button on the right */

  font-size: 16px;
}

.input:focus {
  outline-style: none;
}

.input:focus::placeholder {
  color: transparent;
}

.button {
  /* fixed size */
  flex-grow: 0;
  flex-shrink: 0;
  width: 36px;
  height: 36px;

  /* center text */
  line-height: 36px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;

  /* cancel user-agent style */
  padding: 0px;

  border-style: none;
  color: white;
  background-color: #8366f6;
}
