.component {
  display: flex;
  height: 36px;
  width: 300px;
  align-items: center;

  font-size: 16px;
  background-color: white;

  position: relative;

  margin-bottom: 10px;
}

/* browser native checkbox appears none */
.checkbox {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* label, drawn as checkbox */
.label {
  flex-shrink: 0;
  height: 16px;
  width: 16px;
  margin: 0px 8px;
  border: solid 2px #8366f6;
}

/* when checked, draw checkmark */
.checkbox:checked::after {
  position: absolute;
  top: 12px;
  left: 15px;
  transform: rotate(50deg);
  width: 4px;
  height: 8px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  content: "";
}

.text {
  flex-grow: 1;

  /* ellipsis settings */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; /* single-line text */
}

.button {
  /* fixed size */
  flex-grow: 0;
  flex-shrink: 0;
  width: 36px;
  height: 36px;

  /* center text */
  line-height: 36px;
  text-align: center;
  font-size: 20px;

  /* cancel user-agent style */
  padding: 0px;

  border-style: none;
  color: grey;
  background-color: white;
}
