.component {
  height: 36px;
  width: 300px;

  font-size: 16px;
  background-color: white;

  position: relative;

  margin-bottom: 10px;

  /* flex setttings */
  display: flex;
  align-items: center;
}

.checkbox {
  flex-grow: 0;
  flex-shrink: 0;
}

.text {
  flex-grow: 1;
  overflow: hidden;
}

.button {
  /* fixed size */
  flex-grow: 0;
  flex-shrink: 0;
}
