.link {
  color: black;
  text-decoration: none;
}

.component {
  /* ellipsis settings */
  text-overflow: ellipsis;
  overflow: hidden;

  white-space: nowrap; /* single-line text */
}

.done {
  text-decoration-line: line-through;
  color: grey;
}

.component:hover {
  color: #6363c4;
}
