.component {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0px;

  margin-bottom: 30px;

  font-size: 28px;
  font-weight: 700;

  background-color: inherit;
  border-style: none;
}

.component:hover {
  background-color: white;
  outline: 2px solid #d4d4d4;
}

.component:focus {
  background-color: white;
  outline: 2px solid #444444;
}
