.component {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 0px 4px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
}

.textarea {
  flex-grow: 1;
  width: calc(100%-8 * 2px);

  resize: none;
  padding: 4px;
  border: 0;
  background: inherit;

  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.textarea:hover {
  background-color: white;
  outline: 2px solid #d4d4d4;
}

.textarea:focus {
  background-color: white;
  outline: 2px solid #444444;
}
