.form {
  height: 100%;
}

.component {
  padding: 10px;
  height: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.title {
  flex-grow: 0;
}

.description {
  flex-grow: 1;
}

.button {
  flex-grow: 0;
}
